In [ ]:
program to accept percentage as a input from the user and display garde according to the input

In [1]:
number = float(input("enter the number: "))
if  number > 90:
    print("grade: A")
elif 90>=number>80:
    print("grade: B")
elif 80>=number>=60:
    print("Grade: C")
elif number<60:
    print("Grade: D")

enter the number:  89

grade: B

In [ ]:
Program to accept the cost price of bike and display the road tax to be paid according to the given criteria

In [ ]:
cost_price = int(input("Enter the price: "))
if cost_price > 100000:
    print("15% Tax you have to paid")
elif 50000<cost_price<=100000:
    print("10% Tax you have to paid")
elif cost_price <= 50000:
    print("5% Tax you have to paid")

In [ ]:
Accept the city from the usser and display monuments of that city

In [ ]:
def display_monument(city):
  monuments = {
    "Delhi": "Red Fort",
    "Agra": "Taj Mahal",
    "Jaipur": "Jal Mahal",}

  if city in monuments:
    print(f"The famous monument in {city} is the {monuments[city]}")
  else:
    print(f"No information available for the monument in {city}")

city = input("Enter the name of a city: ")
display_monument(city)

In [ ]:
CHECK HOW MANY TIMES A GIVEN NUMBER CAN BE DIVISIBLE BY 3 BEFORE IT IS LESS THAN OR EQUAL TO 10

In [2]:
def division_by_3(n):
    count = 0
    while n > 10:
        n = n / 3
        count += 1
    return count

n = float(input("enter the number"))
print(division_by_3(n))

enter the number 15

1

In [ ]:
WHY AND WHEN TO USE WHILE LOOP IN PYTHON GIVE A DETAILED DESCRIPTION WITH EXAMPLE

In [ ]:
We use while loop to do a task repeatedly,the while loop checks a condition and executes the task as long as that condition is satisfied, the loop will stop execution once the condition becomes False.

In [ ]:
USE NESTED WHILE LOOP TO PRINT 3 DIFFERENT PATTERN.

In [3]:
i=1
while i<=5:
    j=1
    while j<=5:
        print("*",end="")
        j=j+1
    print("")
    i=i+1

*****
*****
*****
*****
*****

In [4]:
i=1
while i<=5:
    j=1
    while j<=i:
        print("*",end="")
        j=j+1
    print("")
    i=i+1

*
**
***
****
*****

In [5]:
i=1
while i<=5:
    j=i
    while j<=5:
        print("*",end="")
        j=j+1
    print("")
    i=i+1

*****
****
***
**
*

In [ ]:
REVERSE A WHILE LOOP TO DISPLAY NUMBERS FROM 10 TO 1

In [7]:
i = 10
while i >=1:
    print(i)
    i=i-1

10
9
8
7
6
5
4
3
2
1